body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;//ocupar todo el tamaño de la ventana
}
button{
   background-color:blue; 
   color:white;
   border:none;
   padding: 9px 10px;
   border-radius:15px;
   cursor: pointer;
   font-size: 16px;
   justify-content: center;
   align-items: center; 
}
button:hover{
    background-color: green;
   // opacity: 0.50;
    justify-content: center;
    align-items: center; 
}
section{
    flex: 1;// todo lo que pueda
   // justify-content: center;
   // align-items: center;  
}
footer{

    align-self: flex-end;
   // justify-content: center;
   // align-items: center; 
}